#currentpage {
    color: rgb(70, 155, 115) !important; /* couleur de texte pour le lien actif */
    font-weight: bold; /* graisse de texte pour le lien actif */
  }


  .change_lang{
    margin-left: 900px;;
    padding:100px 0px 100px;
}

.change_lang:hover{
    color:blue;
}


.lang-links {
  font-family: Arial, sans-serif;
  text-align: right;
  margin-top: 10px;
}

.lang-links a {
  display: inline-block;
  margin-left: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}